<mat-toolbar color="primary" class="toolbar">
  <div>
    <button
      *ngIf="isPage('/image/')"
      (click)="goToMainPage()"
      color="accent"
      mat-flat-button
    >
      back
    </button>
  </div>
  <div>
    <button
      *ngIf="!isPage('/image/') && ($filesExist | async)"
      color="accent"
      mat-flat-button
      (click)="clearAllFiles()"
    >
      clear
    </button>
    <button
      color="accent"
      mat-flat-button
      style="margin-right: 10px"
      *ngIf="isPage('/image/')"
      (click)="addText()"
    >
      add text
    </button>
    <button
      *ngIf="isPage('/image/')"
      style="margin-right: 10px"
      color="accent"
      (click)="watermartFile.click()"
      mat-flat-button
    >
      add image
    </button>
    <button
      *ngIf="isPage('/image/') && watermarkService.hasObjects()"
      color="accent"
      (click)="watermarkService.resetWatermark()"
      mat-flat-button
    >
      reset
    </button>
  </div>
  <div>
    <button
      *ngIf="!isPage('/image/')"
      color="accent"
      mat-flat-button
      (click)="uploadFile.click()"
    >
      upload
    </button>
    <button *ngIf="isPage('/image/')" color="accent" mat-flat-button>
      apply
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<input
  hidden
  #uploadFile
  type="file"
  id="uploadFile"
  name="uploadFile"
  multiple="multiple"
  (change)="uploadFileEvt($event)"
  accept="image/jpg, image/jpeg, image/png"
/>

<input
  hidden
  #watermartFile
  type="file"
  id="watermartFile"
  name="watermartFile"
  multiple="false"
  (change)="addImage($event)"
  accept="image/jpg, image/jpeg, image/png"
/>
